<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmh.springboottest.mapper.NameMapper">

    <resultMap id="BaseResultMap" type="com.jmh.springboottest.pojo.File">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
        <result column="sys_path" jdbcType="VARCHAR" property="sysPath" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>

   <select id="all" resultType="com.jmh.springboottest.pojo.Name">
       select * from name
   </select>
</mapper>